@media only screen and (min-width: 601px) {
h3{
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;
}
.teamIcon{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 10%;
}

.teamContainer{
    background-color: #6eb56d;
    background-image: linear-gradient(rgb(122, 235, 118), rgb(115, 136, 244));
    margin: 0% auto;
    padding: 150px;
    min-height: 550px;
    text-align: center;
}
}

@media only screen and (max-width: 600px) {

    h3{
        margin: 0 auto;
        font-family: 'Permanent Marker', cursive;
        font-size: 16px;
    }
    .teamIcon{
        height: 75%;
        width: 75%;
        margin: 0 auto;
        padding: 15%;
    }
    
    .teamContainer{
        background-color: #6eb56d;
        background-image: linear-gradient(rgb(122, 235, 118), rgb(115, 136, 244));
        margin: 0% auto;
        padding: 50px;
        text-align: center;
        width: 100%;
        }

        .col-4 {
            margin: 0 auto;
            padding: 10px;
            /* border: 3px solid green; */
        }
}
