.quote{
    font-size: 200%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    top:0;
    right:0;
    padding-top:35.5%;
    margin-bottom:10%; 
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;  
    }

  .gameplay{
    top:0;
    left:0;
    background-repeat:no-repeat;
    background-size:100% auto;
    position:absolute;
    height: 100%;
  }