@media only screen and (min-width: 601px) {
    .col-3 {
    margin: 0 auto;
    /* border: 3px solid green; */
}
.videoContainer{
    background-color: rgb(122, 235, 118);
    margin: 0% auto;
    padding: 15px;
}

h1{
    margin: 0 auto;
    font-family: 'Bangers', cursive;
}

.twitch{
    width: 300px; 
    height: 200px;
    padding: 15px;
}
}

@media only screen and (max-width: 600px) {

    .videoContainer{
        background-color: rgb(122, 235, 118);
        margin: 0% auto;
        padding: 15px;
    }

    .twitch{
        width: 150px; 
        height: 100px;
        padding: 15px;
    }

}