.col-3 {
    margin: 0 auto;
    /* border: 3px solid green; */
}
.videoContainer{
    background-color: rgb(122, 235, 118);
    margin: 0% auto;
    padding: 15px;
}

h1{
    margin: 0 auto;
    font-family: 'Bangers', cursive;
}

